.page-header {
        background-color:   #17202a  ;
        margin-top: 0;
        padding: 5px 5px 10px 50px;
        border-radius: 5px 10px;
    }
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color:    #fdf2e9    ;
        font-weight: bold;
        margin-left: 22ex;
        text-decoration: none;
        font-family: sans-serif;
    }
.encabezado {

    margin-top: 2;
    padding: 10px 20px 00px 40px;
    margin-left: 45ex;

}
h1, h2, h3, h4, p{
        font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif, Arial;
        color: black;
        font-size: 40px, 30px, 28px, 40px, 10px;
    }

.product {
        margin-bottom: 50px;
    }
.product h1 a, .product h1 a:visited {
        color: blue;
    }

body{
    background-color:     #fbfcfc    ;
}
.card-block{
    padding: 10px 10px 10px 40px;
    background-color:   #148f77   ;
    border-radius: 10px 10px;
}
.card-text, .card-title{
    color:  #212f3c ;
    font-size: 16px;
}
.product blockquote{
    float: left;
    position: relative;
    background-color: #777777 ;
    width: 70%;
    border-radius: 5px 10px;


}
.product div{
    float: left;
    position: relative;
    width: 30%;
    height: auto;
}
.footer{
    background-color: #777777;
    color: #eeeeee;
    font-size: 16pt;
    text-align: center;
    margin: 2em;
}
.product img{
    width: auto;
    height: auto;
    max-height: 200px;
    max-width: 60%; 
}