<!DOCTYPE html>
<html>
<head>
	<title>ECOMMERCE</title>
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://use.fontawesome.com/fef88923eb.js"></script>
    <link href="/static/base.css" rel="stylesheet">
</head>

<body>
	<div class="page-header">
			 <h1>ECOMMERCE</h1>
	 </div>
	<div class="encabezado">
		<h2>{% block header_text %}{% endblock %}</h2>
	</div>
	<div class="carrito">
		{% block carrito %}
		{% endblock %}
	</div>
	<div class="listaProductos">
		{% block lista_productos %}
		{% endblock %}
	</div>
	<div class="detallesProductos">
		{% block detalles %}
		{% endblock %}
	</div>
	<div class="agregarCarrito">
		{% block agregar_a_carrito %}
		{% endblock %}
	</div>

	<div class="footer">
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; 2016 E-COMMERCE. All Rights Reserved.</p>
                </div>
            </div>
    </div>



</body>

</html>
