<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Detalles de la orden</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/base.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="row">
                    <h1>Número de Orden: #{{ order.OrdenCompra.idOrdenCompra }}</h1>
                    <ul>
                        <h3>Fecha compra: {{ order.OrdenCompra.fechaCompra }}</h3>
                        {% if order.OrdenCompra.status == 0 %}
                        <h3>Estado: Pagada</h3>
                        {% elif order.OrdenCompra.status == 1 %}
                        <h3>Estado: Pendiente</h3>
                        {% else %}
                        <h3>Estado: Cancelada</h3>
                        {% endif %}
                    </ul>
                </div>

                <div class="row">
                    <table class="table table-hover">
                        {% for product in order.products %}
                        <tr>
                            <td>{{ product.cantidad }}</td>
                            <td>{{ product.nombre }}</td>
                            <td>{{ product.descripcion }}</td>
                            <td>{{ product.precio }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

        </div> <!-- END .container -->
    </body>
</html>
