{% extends 'base.html' %}
{% block header_text %}E-COMMERCE{% endblock %}
	{% block detalles %}
        {% if products %}
				<div class="content container">
						<div class="row">
								<div class="col-md-8">
								{% for product in products %}
										<div class="product">
												<div>
														<img src="{{STATIC_URL}}{{ product.image }}" alt="{{ product.nombre }}" class="img-rounded"/>
												</div>
												<blockquote>
										  	    <h1>{{ product.nombre }}</h1>
											    <p>{{ product.descripcion }}</p>
												<p>{{ product.precio}}</p>
												</blockquote>
												<form action="verdetalle/{{ product.idProducto }}">
													<input type="submit" value="Ver detalle del producto">
												</form>
										</div>
								{% endfor %}
								</div>
						</div>
				</div>
				{% else %}
						<p class="bg-warning">{{ "No products found." }}</p>
       {% endif %}
{% endblock %}
