{% extends 'base.html' %}
{% block header_text %}BÚSQUEDA DE PRODUCTOS{% endblock %}
	{% block carrito %}
		{% if carrito %}
					<div class="col-md-2 col-md-offset-10">
						
							<div class="card-block">
								<i class="fa fa-shopping-cart fa-4x" aria-hidden="true"></i>
								<p class="card-text">Total = {{ carrito.total }}</p>
								<form action="OrdenDeCompra/" method="GET">
									<input type="hidden" name="idCarrito" value="{{ carrito.idCarrito }}">
 	  			    				<input type="submit" class="btn card-link" value="Adquirir" alt="AdquirirCarrito" name="btnAdquirir" />
								</form>
							</div>
						
					</div>
		{% endif %}
	{% endblock %}
	{% block detalles %}
        {% if products %}
				<div class="content_container">
						<div class="row">
								<div class="col-md-8">
								{% for product in products %}
										<div class="product">
												<div>
														<img src="{{STATIC_URL}}images/{{ product.image }}" alt="{{ product.nombre }}" class="img-responsive img-rounded"/>
												</div>
												<blockquote>
										  	    <h1>{{ product.nombre }}</h1>
											    <p>{{ product.descripcion }}</p>
												<p>{{ product.precio}}</p>
												
												<form action="verdetalle/{{ product.idProducto }}">
													<input type="submit" value="Ver detalle del producto">
												</form>
												</blockquote>
										</div>

								{% endfor %}
								</div>
						</div>
				</div>
				{% else %}
						<p class="bg-warning">{{ "No products found." }}</p>
       {% endif %}
{% endblock %}
